<%- include('./partials/header') %>
<div class="p-10 text-center">
    <h1 class="text-3xl font-bold text-green-600">Payment Successful!</h1>
    <p>Your order has been placed.</p>
</div>
<%- include('./partials/footer') %>
